.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Logo animation
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-top: auto;
  margin-bottom: auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
min-height: calc(1px + 35vh);
font-size: calc(5px + 2vmin);
color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column; 
  align-items: center; /*baseline(left) center(middle) end(right)*/
  justify-content: end;
  margin-top: auto;
  font-size: calc(1px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Position the dropdown menu to the left side */
.dropdown {
  position: absolute;
  left: 20px;
  top: 200px; /* Adjust as needed */
  display: inline-block;
}

/* Style the dropdown menu to look like a box */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 5px; /* This adjusts how curved the edges are */
  padding: 10px;
  z-index: 1;
} 

/*
.dropdown-menu button {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 5px 0;
}*/


/* This changes the backround color of the button you're hovering over 
.dropdown-menu button:hover {
  background-color: #ddd;
}
*/

/* Style for Trivory button */
.trivory-button {
  background-color: #ffcc00; /* Example color */
  color: black;
  padding: 10px;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 5px 0;
}

.trivory-button:hover {
  background-color: #e6b800; /* Example hover color */
}

/* Style for Canvas button */
.canvas-button {
  background-color: #ff5733; /* Example color */
  color: white;
  padding: 10px;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 5px 0;
}

.canvas-button:hover {
  background-color: #cc4626; /* Example hover color */
}

/* Style for Gmail button */
.gmail-button {
  background-color: #4285f4; /* Example color */
  color: white;
  padding: 10px;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 5px 0;
}

.gmail-button:hover {
  background-color: #357ae8; /* Example hover color */
}